<a href="https://colab.research.google.com/github/Angel30cansicio/LinearAlgebra_2ndSem/blob/main/Activity_1_Python_Fundamentals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Welcome to Python Fundamentals
In this module, we are going to establish or review our skills in Python programming. In this notebook we are going to cover:
* Variables and Data Types 
* Operations
* Input and Output Operations
* Logic Control
* Iterables
* Functions

## Variable and Data Types

A variable's data type means that it limits the number of values it can hold and the operations that it can do on it. It can, for example, include a variety of values and procedures that can carry on it. The processor allocates memory and chooses what can be put in reserved memory based on a variable's data type.

In [ ]:
x = 1
a,b = 0, -1
a

0

In [ ]:
type (x)

int

In [ ]:
y = 0.1
type (y)

float

In [ ]:
x= (x)
type (x)

int

In [ ]:
x= float (x)
type (x)

float

In [ ]:
s,t,u = "0",'1','one'
type(s)

str

In [ ]:
s_int = int (s)
s_int

0

In [ ]:
t_int = int(t)
type(t)

str

In [ ]:
s_int = int (s)
s_int

0

##Operations

###Arithmetic

The everyday fundamental arithmetic operations are division, subtraction, multiplication, and addition. With two operands, these arithmetic operators  known as binary arithmetic operators. Constants or variables can  used as operands.

In [ ]:
a,b,c,d = 2.0, -0.7, 0, -32

In [ ]:
from typing import ByteString
### Addition
S= a+b 
S

1.3

In [ ]:
###Subtraction
D= b-d 
D

31.3

In [ ]:
### Multiplication
P= a*d 
P

-64.0

In [ ]:
###Division
Q = c/a
Q

0.0

In [ ]:
### Floor Division
Fq= a//b 
Fq

-3.0

In [ ]:
###Exponentiation
E=a**b 
E

0.6155722066724582

In [ ]:
### Modulo
mod = d%a 
mod

0.0

###Assignment Operation

The right-hand operand of the assignment operations is assigned to a variable, a property, or an indexer element supplied by the left-hand operand. The value assigned to the left-hand operand is the outcome of an assignment expression.

In [ ]:
G, H, J, K = 0, 100, 2, 2

In [ ]:
G, H, J, K = 0, 100,2,2

In [ ]:
G += a
G

2.0

In [ ]:
H-= d
H

132

In [ ]:
J*= 2
J

8

In [ ]:
K**= 2
K

4

##Comparators

When two values are compared together, they are referred to be comparators. It compares two  values and generates a result. It is most usually associated with numerical numbers, but it may also use for other sorts of data.

In [ ]:
res_1, res_2, res_3 = 1, 2.0, "1" 
true_val = 1.0

In [ ]:
## Equality 
res_2 == true_val

False

In [ ]:
## Non-equality 
res_2 != true_val

True

In [ ]:
## Inequality
t1= res_1 > res_2 
t2= res_1 < res_2/2
t3= res_1 >= res_2/2 
t4= res_1 <= res_2 
t1

False

####Logical

Logical operators are used to executing logical operations on variables' values. Either true or false is the value. The results of the truth values can use to determine the conditions.

In [ ]:
res_1 == true_val

True

In [ ]:
res_1 is true_val

False

In [ ]:
res_1 is not true_val

True

In [ ]:
p,q = True, False
e = not(q)
e

True

In [ ]:
p,q = True, False
xor = (not p and q) or  (p and not q)
xor

True

In [ ]:
p,q = True, False 
conj = p and q 
conj

False

In [ ]:
p,q = True, False
conj = p or q 
conj

True

###I/O

By evaluating the results, It is an input output code that opens a source code for both adding and reading

In [ ]:
print("Hello Mars")

Hello Mars

In [ ]:
cnt = 1

In [ ]:
string = "Hello World"
print(string, ", Current run count is:", cnt)
cnt += 4

Hello World , Current run count is: 1

In [ ]:
print(f"{string}, Current count is {cnt}")

Hello World, Current count is 5

In [ ]:
sem_grade = 82.2435646557461234 
name=""
print("Hello {}, your semestral grade is {}".format (name, sem_grade))

Hello , your semestral grade is 82.24356465574613

In [ ]:
w_pg, w_mg, w_fg = 0.3, 0.3, 0.4
print("The weights of your semestral grades are:\
\n\t{:.2%} for Prelims\
\n\t{:.2%} for Midterms, and\
\n\t{:.2%} for Finals.".format(w_pg, w_mg, w_fg))

The weights of your semestral grades are:
	30.00% for Prelims
	30.00% for Midterms, and
	40.00% for Finals.

In [ ]:
x = input("enter a number: ")
x

enter a number: 28

'28'

In [ ]:
name = input("Kimi no nawa: ")
pg = input("Enter prelim grade: ")
mg = input("Enter midterm grade: ")
fg = input("Enter finals grade: ")
sem_grade = None
print("Hello {}, your semestral grade is: {}".format(name, sem_grade))

Kimi no nawa: 99
Enter prelim grade: 89
Enter midterm grade: 100
Enter finals grade: 100
Hello 99, your semestral grade is: None

## Looping Statement

If the specified requirement is met, the loop statement is a series of steps or a sequence of statements that are executed zero times or more.

## While

Based on the results, The While Loop is used to continuously execute a block of statements until a specific condition is fulfilled

In [ ]:
## while loops
i, j = 0, 10
while(i<=j):
  print(f"{i})\t|\t{j}")
  i+=1

0)	|	10
1)	|	10
2)	|	10
3)	|	10
4)	|	10
5)	|	10
6)	|	10
7)	|	10
8)	|	10
9)	|	10
10)	|	10

##For

It is shown in the results that when you have a block of code that you want to repeat a certain number of times, "for" loops are used based on the code results. The "for" statement time steps across a sequence's individuals in order, each time executing the block.

In [ ]:
# for (int i=0; i<10, i++){
#   printf(i)
#}
i=0
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
playlist = ["Crazier","Happier","Bahay-Kubo"]
print('Now Playing:\n')
for song in playlist:
 print(song)

Now Playing:

Crazier
Happier
Bahay-Kubo

### Flow Control

The sequence in which a program's code is executed is known as the control flow.

##Condition Statement

If / Else / Else If conditional statements are conditional statements that have more than one condition, this is upon observing the codes.

In [1]:
numeral1, numeral2 = 13,12
if (numeral1 == numeral2):
  print("Yey")
elif (numeral1>numeral2):
  print ("Hoho")
else:
    print ("Aww")
  #print ("Hip hip")

Hoho

##Functions

This code is written to do a certain task. A group of instructions that you want to run again and over again or that, because of their complexity, are best placed in a sub-program and called unless they're necessary is a function.

In [ ]:
# void DeleteUser(int userid){
#    delete(userid);
# }

def delete_user (userid):
    print("Successfully deleted user: {}".format(userid))

def delete_all_users ():
    print("Hello people")

In [ ]:
userid = "Angel"
delete_user("Angel")
delete_all_users()

Successfully deleted user: Angel
Hello people

In [ ]:
def add(addend1, addend2):
    return addend1 + addend2

def power_of_base2(exponent):
    return 2**exponent

In [ ]:
addend1, addend2 = 24, 25
add(addend1, addend2)

exponent = 9
power_of_base2(exponent)

512

###lambda

Lambda supports Python runtimes that allow you to analyze events with your code.

In [2]:
w_pg, w_mg, w_fg = 0.3, 0.3, 0.4
name = input("Enter your name: ")
course = input("Enter your course: ")
pg = float(input("Enter prelim grade: "))
mg = float(input("Enter midterm grade: "))
fg = float(input("Enter finals grade: "))
sem_grade = (pg*w_pg)+(mg*w_mg)+(fg*w_fg)
print("Hello {} from {}, your semestral grade is: {}".format(name, course, round(sem_grade, 2))) 
if(sem_grade > 70.00):
      print("\U0001F600")
elif(sem_grade == 70.00):
      print("\U0001F606")
else:
      print("\U0001F62D")

Enter your name: AngelKathy
Enter your course: Chemical Engineering
Enter prelim grade: 99
Enter midterm grade: 100
Enter finals grade: 99.9
Hello AngelKathy from Chemical Engineering, your semestral grade is: 99.66
😀